
table {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid grey
}

th {
    border-bottom: 1px solid grey
}

button{
    float: right;
    padding: 10px;
    color: white;
    background-color: green;
}

header {
    text-align: center;
    height: 100px;
    background-color: grey;
}

input {
    margin: 5px 0px;
}

.container {
    margin: 5% 5%;
}

.flex-box-column {
    display: flex;
    flex-direction: column
}

.title {
    text-align: center;
    width: 100%;
    padding: 50px 0px;
    background-color: grey
}


#current-empolyees {
    margin: 0% 5%;
}